# Secrets and environment
.env
.env.local
*.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Node / JS artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and Cache
work/
cache/
dist/
input/
map.glb
map2.glb
schoolmap.glb
desktop/dist/
desktop/build/
installer/*.zip
installer/*.tar.gz
*.spec
*.tmp
*.log

# OS artifacts
.DS_Store
Thumbs.db
